html {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#data {
    display: block;
}

p {
    display: flex;
    flex-direction: column;
}

#szablon {
    background-color: lightgray;
    padding-top: 0.002%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 5%;
    border-radius: 30px;
}

.container mt-5 {
    display: flex;
    background-color: lightgray;
}

#table {
    padding-left: 2%;
}

.row[name="row2"] {
    background-color: white;
}

.row[name="row3"] {
    background-color: white;
}

#row2 {
    flex-wrap: wrap;
}

#row3 {
    flex-wrap: wrap;
    justify-content: center;
}

h5 {
    margin-top: 2%;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.row, .doubleRow {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.row > div {
    border: 1px black solid;
}

.row[name="row2"] > div {
    height: 50vh;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.doubleRow > div {
    height: 50%;
    width: 111%;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
}

input[name="data"]{
    width: 75%;
}

input[name="wersja"] {
    width: 50%;
}

.row[name="row2"] input[type="text"] {
    height: 90%;
}

.row[name="row2"] .doubleRow input {
    height: 60%;
}

.row[name="row3"] input {
    height: 60%;
}

.row[name="row3"] > div {
    height: 30vh;
    width: 50%;
}