@using System.IO;
@using System.Runtime.CompilerServices;
@using System.Runtime.InteropServices;

@{
    ViewData["Title"] = "Home Page";

    string executableLocation = AppDomain.CurrentDomain.BaseDirectory;
    Console.WriteLine(executableLocation);
  //  string htmlLocation = @(executableLocation +  + "PDF.html");
}

<div id="szablon">
    <div class="container mt-5">
        <div class="row" name="row1">
            <div class="col-md-4" style="border: none;">
                <h2 style="text-transform: uppercase; font-weight: bold; white-space: nowrap; padding-left: 3%; margin-bottom: 0; ">Business Model Canvas</h2>
            </div>
            <div class="col-md-2" style="border: none; padding-left: 5%;">
                <p style="text-align: left;">Opracowane dla: <input type="text" name="opracowane_dla"></p>
            </div>
            <div class="col-md-2" style="border: none; ">
                <p style="text-align: left;">Opracowane przez: <input type="text" name="opracowane_przez"></p>
            </div>
            <div class="col-md-2" style="border: none;">
                <p style="text-align: left;">Data: <input type="date" name="data"></p>
            </div>
            <div class="col-md-2" style="border: none;">
                <p style="text-align: left;">Wersja: <input type="number" name="wersja"></p>
            </div>
        </div>
    <div id="table">
        <div class="row" name="row2">
            <div class="col-md-2">
                <h5 style="font-weight: bold; white-space: nowrap;">Kluczowi partnerzy <i class="bi bi-person-badge-fill"></i></h5>
                <input type="text" style="border: 0;" name="kluczowi_partnerzy" />
            </div>
            <div class="doubleRow">
                <div class="col-md-2">
                    <h5 style="font-weight: bold; white-space: nowrap; ">Kluczowe aktywności<i class="bi bi-lightning"></i></h5>
                    <input type="text" style="border: 0;" name="kluczowe_aktywności" />
                </div>
                <div class="col-md-2" style="border-top: solid;">
                    <h5 style="font-weight: bold; white-space: nowrap; ">Kluczowe zasoby <i class="bi bi-building"></i></h5>
                     <input type="text" style="border: 0;" name="kluczowe_zasoby" />
                </div>
            </div>
            <div class="col-md-2">
                <h5 style="font-weight: bold; white-space: nowrap; ">Propozycja wartości <i class="bi bi-gift"></i></h5>
                    <input type="text" style="border: 0;" name="propozycja_wartości" />
            </div>
            <div class="doubleRow">
                <div class="col-md-2">
                    <h5 style="font-weight: bold; white-space: nowrap; ">Relacje z klientami <i class="bi bi-heart"></i></h5>
                        <input type="text" style="border: 0;" name="relacja_z_klientami" />
                </div>
                    <div class="col-md-2" style="border-top: solid;">
                    <h5 style="font-weight: bold; white-space: nowrap; ">Kanały dotarcia <i class="bi bi-truck"></i></h5>
                        <input type="text" style="border: 0;" name="kanaly_dotarcia" />
                </div>
            </div>
            <div class="col-md-2">
                <h5 style="font-weight: bold; white-space: nowrap; ">Segmenty klientów <i class="bi bi-briefcase"></i></h5>
                    <input type="text" style="border: 0;" name="segmenty_klientów" />
            </div>
        </div>

        <div class="row" name="row3">
            <div class="col-md-2">
                <h5 style="font-weight: bold; white-space: nowrap; text-align: left; ">Struktura kosztów <i class="bi bi-tag"></i></h5>
                    <input type="text" style="border: 0;" name="struktura_kosztow" />
            </div>
            <div class="col-md-2">
                <h5 style="font-weight: bold; white-space: nowrap; text-align: left; ">Strumienie przychodów <i class="bi bi-cash-stack"></i></h5>
                    <input type="text" style="border: 0;" name="strumienie_przychodów" />
            </div>
        </div>
        @*      <a href="@Url.Action("DownloadPdf)" class="btn btn-primary">Download PDF</a>

        <!-- Add more sections if needed -->
        </div>

        *@
        </div>
        <img src="img/output-onlinepngtools.png" width="250vw" height="70vh" style="float: right;" />
    </div>
</div>
